* {
    text-align: center;
    color: white;
}

.title {
    margin: 14% 0 0 0;
}

/* 
    background-attachment: fixed; forces the image to stay stationary to the viewport
    background-repeat: no-repeat; does not allow for the background image to repeat
    background-size: cover; scales the image to the smallest possible size while also filling the container leaving no empty spaces
*/
body {
    background-image:url(../images/nightsky.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
}